node_modules
.tmp
.sass-cache
app/bower_components

.idea/.name

*.iml

.idea/deployment.xml

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/libraries/conserje_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
