<div id="sign-in">
  <h2>Welcome to {{company.name}}!</h2>
    Please sign in...
  <form ng-submit="processForm()">
  <select ui-select2 ng-model="formData.employeeId" data-placeholder="Your Name Here" style="width:40%;">
    <option ng-repeat="volunteer in volunteers | filter:{state:'absent'}" value="{{volunteer.id}}">{{volunteer.id}}: {{volunteer.name}}</option>
    </select>
  <h3>What will you be working on?</h3>
  <div class="btn-group">
    <button type="button" class="btn btn-primary" name="department" btn-radio="'{{department.id}}'" ng-repeat="department in departments" ng-model="formData.departmentId">{{department.name}}</button>
  </div>
  <button type="submit">Sign In</button>
  </form>
</div>

<hr>

<div id="current-volunteers">
  <h3>Currently Volunteering</h3>
  <div class="volunteer col-md-4" ng-repeat="volunteer in volunteers | filter:{state:'present'}"><img src="data:image/png;base64,{{ volunteer.image_small }}">{{volunteer.name}}</div>
</div>