<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<!-- form code based on http://scotch.io/tutorials/javascript/submitting-ajax-forms-the-angularjs-way -->
<!-- FORM -->
<form ng-submit="processForm()">
    <!-- NAME -->
    <div id="name-group" class="form-group">
        <label>First Name</label>
        <input type="text" name="volunteerFirstName" class="form-control" placeholder="Buster" ng-model="formData.firstName" required>
        <label>Last Name</label>
        <input type="text" name="volunteerLastName" class="form-control" placeholder="Bot" ng-model="formData.lastName" required>
        <span class="help-block"></span>
    </div>

    <!-- EMAIL -->
    <div id="email-group" class="form-group">
        <label>Email</label>
        <input type="email" name="volunteerEmail" class="form-control" placeholder="buster@freegeektwincities.org" ng-model="formData.email">
        <span class="help-block"></span>
    </div>

    <div id="phone-group" class="form-group">
        <label>Phone</label>
        <input type="tel" name="volunteerPhone" class="form-control" ui-mask="{{'(999) 999-9999'}}" ng-model="formData.phone">
        <span class="help-block"></span>
    </div>
    
    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-ok-circle"></span> Sign Up
    </button>
</form>