
<div id="sign-in" class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <h3>Follow the steps to sign in</h3>
      <h5>*This requires an <a ng-href="#/volunteer/new">account</a></h5>
      <form ng-submit="processForm()">
        <div class="panels row">
          <div class="col-md-4">
            <div class="panel-heading">1. Search for your name</div>
            <div class="panel-body">
              <select ui-select2
                      ng-model="formData.employeeId"
                      data-placeholder="Type Your Name Here"
                      required style="width: 100%;">
                <option ng-repeat="volunteer in volunteers | filter:{state:'absent'}"
                         value="{{volunteer.id}}">
                   {{volunteer.id}}: {{volunteer.name}}
                </option>
               </select>
            </div>
          </div>
        <div class="col-md-4">
          <div class="panel-heading">2. Pick your volunteer task</div>
          <div class="panel-body btn-group">
              <button type="button"
                      class="btn btn-primary btn-block"
                      name="department"
                      btn-radio="'{{department.id}}'"
                      ng-repeat="department in departments"
                      ng-model="formData.departmentId">
                {{department.name}}
              </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel-heading">3. Sign In!</div>
          <div class="panel-body">
            <button class="btn btn-success btn-block"
                    type="submit">
              <span class="glyphicon glyphicon-log-in"></span>
              Sign In
            </button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div id="current-volunteers" class="col-md-12">
      <h3>Currently Volunteering</h3>
      <div class="row">
        <div class="col-md-4"
             ng-repeat="volunteer in volunteers | filter:{state:'present'}">
          <div class="panel-heading">
            {{volunteer.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
